* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: inherit;
  margin: 0;
}

body {
  font-family: 'Gelasio', sans-serif;
  font-size: 10px;
}
