@mixin modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  @content;

  &__container {
    width: 400px;
    height: 300px;
    background: white;
    border-radius: 50px;
    padding: 20px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
  }

  &__closeIcon {
    margin: 0 20px;
    cursor: pointer;
    transition: opacity 0.3s ease-in;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }
  }

  &__title {
    font-size: 15px;
    margin: 0;
  }

  &__submit {
    padding: 10px 20px;
    border: 1px solid black;
    background: white;
    border-radius: 30px;
    cursor: pointer;
    transition: opacity 0.3s ease-in;

    &:hover {
      opacity: 0.8;
    }

  }

  &__form {
    padding: 10px;
    display: flex;
    flex-direction: column;
  }

  &__textarea {
    border-radius: 20px;
    width: 100%;
    padding: 10px;
  }

  &__input {
    border-radius: 20px;
    padding: 10px;
  }

  &__select {
    padding: 10px;
    border-radius: 10px;
  }

  &__field {
    margin: 10px 0;
  }

  &__label {
    font-size: 15px;
  }

  &__labelField {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__labelInput {
    border-radius: 10px;
    padding: 10px;
    flex: 1 1 auto;
    margin-left: 20px;
  }

  &__submit {
    padding: 10px 20px;
    border: 1px solid black;
    background: white;
    border-radius: 30px;
    cursor: pointer;
    transition: opacity 0.3s ease-in;

    &:hover {
      opacity: 0.8;
    }

  }

}